#1 find out how many steps are made by individual 
#2 make an app showing the statics of the user 
#3 make it able for the consumer to share his data online to compete
#4 my school makes unique codes for each ppl using the app
#5 make it work!!!
